__pycache__/
*.py[cod]
.ipynb_checkpoints/
venv/
env/
.env
.DS_Store
Thumbs.db
*.npz
*.dat
*.atr
*.hea
*.pkl
*.h5
*.keras
models/*
!models/.gitkeep
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
